#eIcons{
	margin: 0;
	padding: 0;
}

#eIcons li{
	list-style: none;
	float: left;
	padding: 5px;
	width: 62px;
	text-align: center;
	cursor: default;
	border-radius: 2px;
}

#eIcons li:hover{
	opacity: .8
}

#eIcons li span{
	display: block;
	height: 33px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	width: 62px;
	line-height: 16px;
}

#eIcons li span:hover{
	overflow: inherit;
	background-color: #fff;
}
#eIcons li .mdl-progress{
	width: 62px;
	position: absolute;
}

#eIcons li i{
	font-size: 55px;
}

#eIcons li .uploadifive-button i{
	font-size: 36px !important;
	margin-left: -5px;
}

#eIcons li button{
	height: 62px;
	width: 62px;
}

.eIcon{
	width: 56px;
	height: 56px;
	display: inline-block;
	background-size: cover;
	border-radius: 2px;
}