body {
	overflow: hidden;
}


#desktop nav.top {
	width: 500px;
    position: absolute;
    top: 0px;
    right: -9999px;
    margin: 0px;
    padding: 0px;
    background-color: rgba(25, 118, 210, 0.94);
    color: #FFF;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.6s ease 0s;
}

#desktop .account-user{
	width: 58px;
	height: 58px;
	position: absolute;
	right: 160px;
	top: 15px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: none;
	cursor: pointer;
	z-index: 99999;
	transition: right .5s;
	transition-delay: .3s;
}

#desktop .infoUser {
	right: 11px;
	position: absolute;
	top: 30px;
	z-index: 99999;
	transition: right .5s;
	transition-delay: .3s;
	color: #ecf0f1;
}

#desktop #logout i {
	font-size: 58px;
	margin-right: 10px;
	cursor: pointer;
}

#desktop #logout {
	list-style: none;
	float: right;
}




#desktop #start {
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	padding: 10px;
	border: none;
	bottom: 15px;
	left: 15px;
	cursor: pointer;
	z-index: 99999;
	transition: background .2s;
}

#desktop #start.active {
	background-color: #ecf0f1;
}

#desktop #openStart{
	width: 500px;
    position: absolute;
    top: 0px;
    left: -9999px;
    margin: 0px;
    padding: 0px;
    background-color: rgba(25, 118, 210, 0.94);;
    color: #FFF;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.6s ease 0s;
}

#desktop .buscarApps {
	
	left: 70px; 
	bottom: 17px;
	position: absolute;
}
#desktop .buscarApps input {
	width: 250px;
}

#desktop .window{
	width: 50px;
	height: 50px;
	border-radius: 10%;
	background-color: #fff;
	margin: auto;
	margin-top: -999px;
	opacity: 0;
	padding: 15px;
	

	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
}
#desktop .window .header{
	display: none;
	height: 35px;
	margin: -15px;
	margin-bottom: -16px;
	padding: 10px;
}
#desktop .window .header i.close{	
	color: #c0392b;
	cursor: pointer;
	font-size: 32px;
	float: right;
}

#desktop .window .header i.openThisWindow {
	cursor: pointer;
}

