#pNavImage, .page-content{
	height: 100%;
}

h1{
	font-family: 'Raleway', sans-serif !important;
	font-size: 26px !important;
	display: inline-block !important;
	width: 100% !important;
}

.pInitial{
	position: absolute;
	width: 40%;
	min-height: 150px;
	padding: 10px; 
	left: 50%;
	margin-left: -20%;
	top: 25%;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.pMenuRigth ul{
	margin: 0;
	padding: 0;
}
.pMenuRigth ul li{
	list-style: none;
	margin-top: 15px;
	opacity: .6;

/*	-webkit-transition: all 2s;
	transition: all .2s;*/
}
.pMenuRigth ul li:hover{
	opacity: .9;
}
.pMenuRigth ul li.active{
	opacity: 1;
}

.pMenuRigth .select{
	overflow: auto;
	width: 15%;
	height: 83%;
	position: absolute;
	background-color: #f8f9f9;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	padding: 10px;
	border-radius: 2px;
	top: 9%;
	left: 6%;
}

#stage{
	width: 76%;
	height: 80%;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	left: 23%;
	position: absolute;
	top: 9%;
	border-radius: 2px;
	border: solid 2px transparent;

	-webkit-transition: all 2s;
	transition: all .2s;
}

#stage.drop{
	border: dashed 2px #ccc;
	background-color: #F8F9F9;
}

h1.stageTitle{
	position: absolute;
	top: 0px;
	left: 23%;
}

.select ul{
	display: none;
}

.select ul li{
	font-family: 'Raleway', sans-serif !important;
	font-size: 22px;
	cursor: default;
	height: 35px;
	line-height: 35px;
}

.select ul li.active{
	font-weight: bold;
	color: #7D9FEF;
}

.select ul li .edit input{
	font-family: 'Raleway', sans-serif !important;
	width: 90%;
	height: 29px;
	font-size: 18px;
}

#s-home{
	position: absolute;
	margin-left: 5px;
	font-size: 16px;
	margin-top: 5px;
	color: rgb(153, 153, 153);
}

ul.pOpen{
	display: flex;
	padding: 0;
}

ul.pOpen li{
	height: 72px;
	width: 62px;
	text-align: center;
	line-height: 12px;
	list-style: none;
	cursor: default;
	background-color: #fbfcfc;
	border-radius: 2px;
	margin: 5px;

	-webkit-transition: all 2s;
	transition: all .2s;
}

ul.pOpen li:hover, ul.pOpen li.active{
	background-color: #bdc3c7;
}

ul.pOpen li i{
	font-size: 42px;
}

li.pBlock{
	list-style: none;
	width: 220px;
}

li.pBlock div{
	cursor: default;
	background-color: #fff;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	float: left;
	padding: 5px;
	margin: 5px;
}
#stage .grid{
	width: 100%;
	display: inline-block;
}

.grid div{
	min-height: 80px;
	border: solid 1px #ccc;
	float: left;

	-webkit-transition: border .1s;
	transition: border .1s;
}
.grid div:hover{
	border: solid 1px #3498db;
}

#addBlock{
    left: 50%;
    margin-left: -23px;
    position: relative;
    top: 10px;
}

/**/
.grid.grid-1 div{
	width: 99%;
}

.grid.grid-2 div{
	width: 49%;
}

.grid.grid-3 div{
	width: 32%;
}

.grid.grid-4 div{
	width: 24.4%;
}

.grid.grid-5 div:first-child{
	width: 69%;
}
.grid.grid-5 div:last-child{
	width: 29%;
}

.grid.grid-6 div:first-child{
	width: 29%;
}
.grid.grid-6 div:last-child{
	width: 69%;
}

/**/

.item-content{
	width: 64%;
	float: right;
}

.btn-save-modal{
	position: absolute;
	bottom: 35px;
	right: 10px;
	z-index: 10;
}