@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

.tableDefault .mdl-checkbox{
	width: auto !important;
}

.mdl-data-table td{
	text-align: center !important;
	vertical-align: inherit !important;
}

.tableDefault .image{
	width:70px;
	height:70px;
	background-size: cover;
	margin: 0 auto 10px auto;
	box-shadow: 0 0 3px #333;
	border-radius: 2px;
}

.tableDefault ul.multi_files{
	position: relative;
	padding: 0;
	margin: 0;
	height: 70px;
	width: 100%;
	overflow: hidden;
}

.tableDefault .multi_files li{
	list-style: none;
	width: 70px;
	height: 70px;
	background-size: cover;
	float: left;
	position: absolute;
	box-shadow: 0 0 3px #333;
	border-radius: 2px;

}

form[target="defaultForm"] input{
	height: 20px;
	width: 20em;
	padding: 5px;
}

form[target="defaultForm"] h1{
    font-family: "Roboto",sans-serif;
    font-size: 32px;
    font-weight: 300;
    width: 100%;
}

form[target="defaultForm"] h1 span{
    border-left: 3px solid #0277bd;
    padding-left: 15px;
}

form[target="defaultForm"] .field_files {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #ccc -moz-use-text-color #ccc #ccc;
	border-image: none;
	border-radius: 2px 0 0 2px;
	border-style: solid none solid solid;
	border-width: 1px medium 1px 1px;
	float: left;
	height: 25px;
	line-height: 25px;
	padding: 5px;
	max-width: 300px;
	overflow: hidden;
	cursor: default;
}

form[target="defaultForm"] .field_files span {
	display: inline-block;
	height: 20px;
	overflow: hidden;
	width: 250px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

form[target="defaultForm"] button[type="submit"]{
	position: absolute;
	bottom: 40px;
	right: 40px;
}